<div class="modal fade" id="addPlayer">
        <div class="modal-dialog">
          <div class="modal-content">
              
            <div class="modal-header">
                <h4 class="modal-title">Ajouter un joueur</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="updatePlayer" data-pk="">
                <div class="modal-body">                        
                    <div class="form-group">
                        <h5>Nom :</h5>
                        <input type="text" class="form-control" name="nom">
                    </div>

                    <div class="form-group">
                        <h5>Prenom :</h5>
                        <input type="text" class="form-control" name="prenom">
                    </div>

                    <div class="form-group">
                        <h5>Date de Naissance :</h5>
                        <input type="text" class="form-control" name="dateNaissance">
                    </div>

                    <div class="form-group">
                        <h5>Date d'inscription :</h5>
                        <input disabled type="text" class="form-control" name="dateInscription">
                    </div>

                    <div class="form-group">
                        <h5>Crédit :</h5>
                        <input type="text" class="form-control" name="credit">
                    </div>

                    <div class="form-group">
                        <h5>Mail :</h5>
                        <input type="text" class="form-control" name="mail" placeholder="Saisissez un email">
                    </div>

                    <div class="form-group">
                            <h5>Pseudo</h5>
                            <input type="text" class="form-control" name="pseudo" placeholder="Saisissez un pseudo">
                    </div>
                </div>
        
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Valider">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                </div>

            </form>
          </div>
        </div>
    </div>